@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);

    font-family: Roboto-Italic;
    src: url(Roboto-LightItalic.ttf)
}

body {
    font-family:Roboto ;
    height: 100vh;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 10px;
    padding-right: 100px;
    gap: 15px;
}

a  {
    text-decoration: none;
    color: #e5e7eb;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 33px;
    flex: 0 1 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px;
    padding-left: 100px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    padding: 10px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 110px;
}

.hero-txt{
    max-width: 450px;
}

.main-txt {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 5px;
}

.sec-txt {
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.img-hold {
    color: #f9faf8;
    font-size: 18px;
    background-color: #6d747d;
    flex: 1;
    max-width: 500px;
    align-self: stretch;
    justify-items: center;
    align-content: center;
    
}

.content {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 50px;
    padding: 40px;
}

.info {
    display: flex;
    width: 250px;
    height: 500px;
    flex-wrap: wrap;
}

.memo-head {
    justify-self: center;
    align-self: center;
    padding: 40px;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
}

.memo-img {
    background-color: #f9faf8;
    border-radius: 8px;
    border-color: #3882f6;
    border-width: 5px;
    border-style: solid;
    flex: 1;
}

.quote {
    background-color: #e5e7eb;
    padding: 110px;
}

.quote-txt{
    font-size: 36px;
    color: #1f2937;
    font-family: Roboto-Italic;
    align-self: center;
    /*border-color: red;
    border-width: 2px;
    border-style: dotted;*/
}

.quote-author {
    font-size: 24px;
    font-weight: 900;
    justify-self: flex-end;
    padding: 40px;
    /*border-color: blue;
    border-width: 2px;
    border-style: dotted;*/
}

.action-con {
    
    padding: 110px;
}

.action {
    display: flex;
    background-color: #3882f6;
    padding: 50px;
    border-radius: 8px;
    justify-content: center;
    gap: 200px;
}

.action-hold {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.action-head {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.action-sec {
    color: #e5e7eb;
}

.one {
   background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 33px;
    border-color: #f9faf8;
    border-style: solid;
    border-width: 2px;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    justify-content: center;
    padding: 50px;
}

.foot-txt {
    justify-self: center;
}